.film-detail-card {
    padding: $margin;
    background-color: $transparent-blue;
    @include flexCenter(column);
    img {
        width: 80vw;
        margin-bottom: $margin;
        border-radius: 20px;
    }
    ul {
        font-size: 1.8em;
        list-style-type: georgian;
        li {
            color: hotpink;
            font-weight: 700;
            &:hover {
                border-radius: 8px;
                background-color: rgba(255, 192, 203, 0.513);
                padding-left: 15px;
            }
        }
    }
    div {
        padding: 20px;
        background-color: $transparent-blue;
        border-radius: 10px;
        img {
            width: 70vw;
        }
    }
    h1, h3 {
        display: inline;
    }
}