nav {
    @include flexCenter(row);
    justify-content: space-evenly;
    font-family: $fontMontserrat;
    font-weight: 700;
    width: 100vw;
    height: 10vh;
    font-size: 1.6em;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: $transparent-blue;
}
@media screen and (min-width: 992px){
    nav {
    justify-content: space-around;
    font-size: 2em;
   }
}