// FONTS
$fontAudiowide: 'Audiowide';
$fontMontserrat: 'Montserrat';

// COLORS
$white: white;
$black: black;
$blue: rgb(0, 119, 255);
$transparent-blue: rgba(0, 119, 255, 0.431);

// SIZES
$img-width: 40vw;
$margin: 2vh;
