@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Montserrat:wght@600&display=swap");
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Montserrat";
  font-weight: 700;
  width: 100vw;
  height: 10vh;
  font-size: 1.6em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 119, 255, 0.431);
}

@media screen and (min-width: 992px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 2em;
  }
}

.star-wars-img {
  width: 80vw;
  z-index: 1;
}

.flying-around-animation {
  -webkit-animation: flying-around 20s linear infinite;
          animation: flying-around 20s linear infinite;
}

@-webkit-keyframes flying-around {
  0% {
    margin-top: 0px;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  50% {
    margin-top: 100vh;
    margin-left: 100vw;
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
  100% {
    margin-top: 0px;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes flying-around {
  0% {
    margin-top: 0px;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  50% {
    margin-top: 100vh;
    margin-left: 100vw;
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
  100% {
    margin-top: 0px;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.flying-around-animation-green {
  -webkit-animation: flying-around-green 25s linear infinite;
          animation: flying-around-green 25s linear infinite;
}

@-webkit-keyframes flying-around-green {
  0% {
    margin-left: 80vw;
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
  50% {
    margin-top: 100vh;
    margin-right: 100vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  75% {
    margin-top: 0px;
    margin-left: 0vw;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  100% {
    margin-top: 0px;
    margin-left: 80vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes flying-around-green {
  0% {
    margin-left: 80vw;
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
  50% {
    margin-top: 100vh;
    margin-right: 100vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  75% {
    margin-top: 0px;
    margin-left: 0vw;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
  100% {
    margin-top: 0px;
    margin-left: 80vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.img-animated {
  width: 40vw;
}

.img-animated-green {
  width: 40vw;
}

.container-animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .star-wars-img {
    width: 50vw;
  }
}

.fixed-background {
  height: 100%;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../public/bg/universe-bg.jpg");
}

.filmcard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 119, 255, 0.431);
  color: white;
  font-family: "Audiowide";
  font-size: 1.6em;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 10px;
}

.filmcard-container img {
  width: 150px;
  border-radius: 8px;
}

.filmcard-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filmcard-container div h1 {
  font-size: 5em;
}

@media screen and (min-width: 992px) {
  .filmcard-container {
    padding: 40px 10px;
  }
  .filmcard-container div {
    width: 300px;
    height: 200px;
  }
}

.film-detail-card {
  padding: 2vh;
  background-color: rgba(0, 119, 255, 0.431);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-detail-card img {
  width: 80vw;
  margin-bottom: 2vh;
  border-radius: 20px;
}

.film-detail-card ul {
  font-size: 1.8em;
  list-style-type: georgian;
}

.film-detail-card ul li {
  color: hotpink;
  font-weight: 700;
}

.film-detail-card ul li:hover {
  border-radius: 8px;
  background-color: rgba(255, 192, 203, 0.513);
  padding-left: 15px;
}

.film-detail-card div {
  padding: 20px;
  background-color: rgba(0, 119, 255, 0.431);
  border-radius: 10px;
}

.film-detail-card div img {
  width: 70vw;
}

.film-detail-card h2, .film-detail-card h3 {
  display: inline;
}

.film-detail-card h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2em;
  color: hotpink;
}

@media screen and (min-width: 992px) {
  .film-detail-card-desktop {
    width: 100vw;
    padding-left: 20vw;
    padding-top: 10vh;
    background-color: rgba(0, 119, 255, 0.431);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .film-detail-card-desktop div {
    width: 35vw;
  }
  .film-detail-card-desktop div img {
    width: 25vw;
    border-radius: 20px;
    margin-bottom: 5vh;
  }
  .film-detail-card-desktop div h2, .film-detail-card-desktop div h3 {
    display: inline;
  }
  .film-detail-card-desktop div h2 {
    color: hotpink;
    margin: 5px 0px;
  }
  .film-detail-card-desktop ul {
    margin-top: 20px;
    font-size: 1.8em;
    list-style-type: georgian;
  }
  .film-detail-card-desktop ul li {
    font-weight: 700;
  }
  .film-detail-card-desktop ul li:hover {
    font-size: 1.3em;
    border-radius: 8px;
    background-color: rgba(255, 192, 203, 0.513);
    padding-left: 15px;
  }
}

.bg-fav {
  width: 100%;
  height: 100%;
  background-image: url("../../public/bg/desert.jpg");
  background-position: 16% 20%;
  background-size: cover;
}

.container-fav {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.heading-fav h1 {
  color: rgba(0, 119, 255, 0.431);
}

.fav-title {
  width: 100vw;
  text-align: center;
  font-family: "Audiowide";
  font-size: 2.2em;
  font-weight: 900;
  text-decoration: none;
  color: rgba(0, 119, 255, 0.431);
  background-color: rgba(255, 105, 180, 0.712);
  padding: 5px 0px;
}

.favorite-div h1 {
  color: rgba(0, 119, 255, 0.431);
  font-size: 1.8em;
  display: inline;
}

.favorite-div h1:hover {
  padding: 0px 15px;
  border-radius: 8px;
  background-color: rgba(255, 105, 180, 0.712);
}

.favorite-div img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0px;
  margin: 4px;
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  .container-fav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10vh;
  }
  .fav-title {
    width: 30vw;
    border-radius: 8px;
    margin: 0px 50px;
  }
  .favorite-div {
    margin-left: 100px;
  }
  .heading-fav {
    margin-top: 3vh;
  }
}

body {
  font-size: 10px;
}

h1 {
  font-family: "Audiowide";
  color: white;
}

h2 {
  font-family: "Montserrat";
  text-align: center;
}

h4 {
  font-family: "Montserrat";
  text-align: center;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/bg/star_wars-10.jpg");
  color: white;
  background-position: center;
  background-size: cover;
}

.laser-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Audiowide";
  font-size: 2em;
  font-weight: 900;
  text-decoration: none;
  color: pink;
  background-color: hotpink;
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 9;
}

.laser-link:hover {
  background-color: rgba(0, 119, 255, 0.431);
  color: pink;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 2vh;
}

.padding-top {
  padding-top: 8vh;
}

.btn-heart {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0px;
}

@media screen and (min-width: 992px) {
  .padding-top {
    padding-top: 8vh;
  }
  .laser-link {
    margin-top: 2vh;
    font-size: 2.6em;
  }
}
/*# sourceMappingURL=styles.css.map */